<StackLayout class="cardBackgroundProfile">
        
        <CardView class="cardStyleProfile" margin="10" elevation="40" radius="1" >
            <!-- TODO: Make card fill entire height of screen -->
            <!-- TODO: Round corners -->
                    <StackLayout>
                   
                    <Label class="diagnoses-treatments" verticalAlignment="top" text="Diagnoses:" ></Label>
                    <!-- TODO: put 0 to n diagnoses and treatments  -->

                
                </StackLayout> 
          </CardView>      
        </StackLayout>
    
    