<StackLayout class="cardBackgroundUpdateInfo">
   <Label class="question1" text="How many hours of sleep did you get last night?"></Label>
   <Label class="question2" text="Did you exercise today?"></Label>
   <Label class="question2" text="Did you meditate today?"></Label>
   <Label class="question2" text="Rate the following symptoms:"></Label>
    <CardView class="cardStyleUpdateInfo" margin="10" elevation="40" radius="1" >
        <StackLayout>
                     <Label class="symptom" text="Fatigue"> </Label>
                     <Label class="symptom" text="Feeling sad or down"> </Label>
                     <Label class="symptom" text="Inability to concentrate"> </Label>
                     <Label class="symptom" text="Mood swings"> </Label>
                     <Label class="symptom" text="Irritability"> </Label>
                     <Label class="symptom" text="Gastrointestinal problems"> </Label>
                     <Label class="symptom" text="Headache"> </Label>
                     <Label class="symptom" text="Lack of motivation"> </Label>
                     <Label class="symptom" text="Inability to cope with daily problems"> </Label>
                     <Label class="symptom" text="Apathy"> </Label>
                     <Label class="symptom" text="Loss of interest in hobbies"> </Label>
        </StackLayout> 
    </CardView>
</StackLayout>
    
    