<TabView androidTabsPosition="top">

    <page-router-outlet
        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Update Info', iconSource: getIconSource('browse')}"
        name="updateInfoTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Profile', iconSource: getIconSource('search')}"
        name="profileTab">
    </page-router-outlet>

</TabView>