<StackLayout>


    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView> 
-->




    <!-- <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
            <Label class="m-10 h3" verticalAlignment="top" text="hi"></Label>
        </GridLayout>
      </CardView>

      <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
            <Label class="m-10 h3" verticalAlignment="top" text="hi 2"></Label>
       
      </CardView> -->
      <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,100, auto, auto,10" columns="10,40, *, 30,10">
          <label
            horizontalAlignment="left"
            text="Significant Trends"
            colSpan="3"
            row="4"
            textWrap="true"
            col="1"
          ></label>
          <label
            horizontalAlignment="left"
            text="hi"
            textWrap="true"
            col="1"
            row="5"
            colSpan="3"
          ></label>
        </GridLayout>

        
      </CardView>

      <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,100, auto, auto,10" columns="10,40, *, 30,10">
          <label
            horizontalAlignment="left"
            text="sup 2"
            colSpan="3"
            row="4"
            textWrap="true"
            col="1"
          ></label>
          <label
            horizontalAlignment="left"
            text="hi 2"
            textWrap="true"
            col="1"
            row="5"
            colSpan="3"
          ></label>
        </GridLayout>
      </CardView>

      <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,100, auto, auto,10" columns="10,40, *, 30,10">
          <label
            horizontalAlignment="left"
            text="sup 2"
            colSpan="3"
            row="4"
            textWrap="true"
            col="1"
          ></label>
          <label
            horizontalAlignment="left"
            text="hi 2"
            textWrap="true"
            col="1"
            row="5"
            colSpan="3"
          ></label>
        </GridLayout>
      </CardView>

      <CardView class="cardStyle" margin="10" elevation="40" radius="1">
        <GridLayout rows="10,30,30,100, auto, auto,10" columns="10,40, *, 30,10">
          <label
            horizontalAlignment="left"
            text="sup 2"
            colSpan="3"
            row="4"
            textWrap="true"
            col="1"
          ></label>
          <label
            horizontalAlignment="left"
            text="hi 2"
            textWrap="true"
            col="1"
            row="5"
            colSpan="3"
          ></label>
        </GridLayout>
      </CardView>

    </StackLayout>  
